@model Ritual.Domain.Entities.Different
@section metatags
{
    <title>Купить ритуальные принадлежности в Глубоком</title>
    <meta name="description" content="Продажа ритуальных принадлежностей по доступным ценам в магазине «Ритуал» г.Глубокое, ул. М.Горького 32. Доставка в любой район. Работаем круглосуточно." />
   
}

<div>
    <article id="main" class="container special">

        <img class="image featured" src="~/images/@Model.TitleImagePath" />
        <h2>
            @Model.Title
        </h2>
    </article>
</div>