@model Ritual.Domain.Entities.TextFileds
@section metatags
{
    <title>Услуги катафалка в Глубоком</title>
    <meta name="description" content="Для оперативной доставки тела усопшего в пределах города, страны мы предоставляем специализированный ритуальный автотранспорт – катафалк." />

}

<div>
    <div class="wrapper style1">

        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-mobile" id="sidebar">
                    <hr class="first" />
                    <section>
                        <header>
                            <h3>Услуги катафалка</h3>
                        </header>
                        <p>
                            Для оперативной доставки тела усопшего в пределах города, страны,
                            необходим специализированный ритуальный автотранспорт – катафалк,
                            позволяющий перевозить тело покойного с соблюдением особых требований
                            и обеспечивающий комфорт и безопасность сопровождающих лиц.
                        </p>
                    </section>

                </div>
                <div class="col-8 col-12-mobile imp-mobile" id="content">

                    <img class="image featured" src="~/images/Funeral_House1.jpg" alt="" />


                </div>
            </div>

        </div>

    </div>
</div>