@model Ritual.Domain.Entities.TextFileds

@section metatags
{
    <title>Копка могил - Ритуальное услуги в Глубоком</title>
    <meta name="description" content="Сотрудники нашего ритуального магазина предоставляют ритуальные услуги по копке могил, как на городских, так и на сельских кладбищах." />
    
}
<div>

    <div class="wrapper style1">

        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-mobile" id="sidebar">
                    <hr class="first" />
                    <section>
                        <header>
                            <h3>Копка могил</h3>
                        </header>
                        <p>
                            Одним из самых распространенных способов захоронения является погребение на кладбищах.
                            Испокон веков тела умерших предаются земле, из которой все мы вышли.
                            Сотрудники нашего ритуального магазина предоставляют ритуальные услуги по копке могил,
                            как на городских, так и на сельских кладбищах. Независимо от времени года и погоды на улице м
                            ы быстро и аккуратно произведем копку могилы в соответствии со всеми санитарными нормами.
                        </p>
                    </section>

                </div>
                <div class="col-8 col-12-mobile imp-mobile" id="content">
                    <article id="main">
                        <img class="image featured" src="~/images/5Sq8cYgGNDo.jpg" alt="" />

                    </article>
                </div>
            </div>

        </div>

    </div>
</div>
