@model Ritual.Domain.Entities.TextFileds
@section metatags
{
    <title>Ритуальные услуги в глубоком - Круглосуточно рядом</title>
    @*<meta name="description" content="Организация похорон. Ритуальные товары и услуги в Глубоком. Круглосуточно. Доступные цены. Профессиональный подход. Соблюдение сроков. Консультация бесплатно." />*@
    <meta name="description" content="Магазин «Ритуал» на М.Горького 32 занимается обеспечением полного спектра похоронных услуг. Мы полностью проконсультируем вас о всех аспектах и нюансах похорон." />

}
<div>
    <div class="wrapper style1">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-mobile" id="sidebar">
                    <section>
                        <img class="image hedd" src="~/images/hhead.jpg" alt="" />
                    </section>
                </div>
                <div class="col-8 col-12-mobile imp-mobile" id="content">
                    <article id="main">
                        <p>
                            Магазин «Ритуал» на М.Горького 32 занимается обеспечением полного спектра похоронных услуг. Мы поможем Вам выполнить последние пожелание усопшего и пожелания его родственников. С учетом пожеланий родственников, религиозных и других традиций мы организуем похороны любого уровня за вполне приемлемую цену.<br>
                            Мы полностью проконсультируем вас о всех аспектах и нюансах похорон, и вы сами сможете убедиться в высшем качестве проводимых нами работ.<br>
                            Далеко не каждому может быть известно, к кому следует обращаться и что предпринимать, особенно в тот час, когда пришла беда. Мы имеем крайне широкий спектр услуг, и мы доступны для каждого, в том числе и для людей с ограниченным бюджетом.<br>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper style1">
        <section id.="features" class="container special">
            <header>
                <a>
                    <h2>Наши услуги</h2>
                </a>
            </header>
            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a class="image featured"><img src="~/images/PicHead.jpg" alt="" /></a>
                    <header>
                        <h3><a>Ритуальные товары</a></h3>
                    </header>
                    <ul>
                        <li>
                            <p> Гробы</p>
                        </li>
                        <li>
                            <p> Кресты и таблички</p>
                        </li>
                        <li>
                            <p> Корзины, венки и траурная лента</p>

                        </li>
                        <li>
                            <p> Одежда и обувь для усопшего</p>
                        </li>
                        <li>
                            <p> Ритуальные принадлежности</p>
                        </li>

                    </ul>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a class="image featured"><img src="~/images/picheadrit.jpg" alt="" /></a>
                    <header>
                        <h3><a>Ритуальные услуги</a></h3>
                    </header>
                    <ul>
                        <li>
                            <p> Организация похорон</p>
                        </li>
                        <li>
                            <p> Tуалет усопшего</p>
                        </li>
                        <li>
                            <p> Копка могил</p>
                        </li>
                        <li>
                            <p> Поминки и поминальный обед</p>
                        </li>
                    </ul>
                </article>


                <article class="col-4 col-12-mobile special">
                    <a class="image featured"><img src="~/images/pichead3.jpg" alt="" /></a>
                    <header>
                        <h3><a>Памятники</a></h3>
                    </header>
                    <ul>
                        <li>
                            <p> Памятники из гранита</p>
                        </li>
                        <li>
                            <p> Памятники из бетона и мраморной крошки</p>
                        </li>
                        <li>
                            <p> Установка и реставрация</p>

                        </li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
    <section id="banner">
        <header>
            <h2><a>Где нас найти ?</a></h2>
        </header>

        <iframe class="image featured" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2280.4612276001076!2d27.70410056360109!3d55.14020717254502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dcad3e57dce87b%3A0x3f40cfa234238291!2z0KDQuNGC0YPQsNC7INC90LAg0Jwu0JPQvtGA0YzQutC-0LPQviAzMg!5e0!3m2!1sru!2sby!4v1616665998199!5m2!1sru!2sby"
                width="1500" height="500" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
</div>
