@model Ritual.Domain.Entities.TextFileds

@section metatags
{
    <title>Поминальный стол - Ритуальное услуги в Глубоком</title>
    <meta name="description" content="Поминки (поминальный обед, поминальная трапеза) - это неотъемлемая часть организации похорон." />
  
}
<div>

    <div class="wrapper style1">

        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-mobile" id="sidebar">
                    @*<hr class="first" />*@
                    <section>
                        <header>
                            <h3>Поминки</h3>
                        </header>
                        <p>
                            Поминки (поминальный обед, поминальная трапеза) - это неотъемлемая часть организации похорон.
                            Обычно смерть человека происходит внезапно, к такому нельзя подготовиться заранее. Однако поминки откладываться
                            не могут и должны состояться в день погребения, поэтому у родственников умершего помимо оформления документов, 
                            организации перевозки усопшего, его туалета и т.д. встает вопрос и об организации поминального обеда. 
                            Поэтому самым оптимальным способом будет заказать поминки.
                        </p>
                      
                    </section>


                </div>
                <div class="col-8 col-12-mobile imp-mobile" id="content">
                    <article id="main">
                        <img class="image featured" src="~/images/XXL.jpg" alt="" />

                    </article>
                </div>
            </div>

        </div>

    </div>
</div>