@model Ritual.Domain.Entities.Monument
@section metatags
{
    <title>Заказать памятник в Глубоком</title>
    <meta name="description" content="Мы предлагаем Вам памятники ЧПТУП «Витгран» которая уже более 25-ти лет занимается изготовлением изделий из природного камня. " />
    
}

<div>
    <article id="main" class="container special">

        <img class="image featured" src="~/images/@Model.TitleImagePath" />
        <h2>
            @Model.Title
        </h2>
    </article>

</div>
