@model Ritual.Domain.Entities.ServiceItem
@section metatags
{
    <title>Купить гроб в Глубоком</title>
    <meta name="description" content="Продажа гробов по доступным ценам в магазине «Ритуал» г.Глубокое, ул. М.Горького 32. Доставка в любой район. Работаем круглосуточно." />

}

<div>
    <article id="main" class="container special">
        <img class="image featured" src="~/images/@Model.TitleImagePath" />
        <h2>
            @Model.Title
        </h2>
    </article>
</div>
