@model Ritual.Domain.Entities.Different
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}


<div>
    <article id="main" class="container special">

        <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="Different" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />

            <div asp-validation-summary="All"></div>
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
            <label asp-for="Subtitle"></label>
            <input asp-for="Subtitle" />
            <span asp-validation-for="Subtitle"></span>
            <label asp-for="TitleImagePath"></label>
            <input type="file" name="titleImageFile" id="titleImageFile" />
            <div>
                <img class="img-block" src="~/images/@Model.TitleImagePath" />
            </div>

            <input type="submit" value="Сохранить" />
        </form>
    </div>
    </article>
</div>



