@model Ritual.Domain.Entities.InitMon
@section metatags
{
    <title>Установка памятников в Глубоком</title>
    <meta name="description" content="Установка памятников; комплексное благоустройство мест захоронения; установка оград, столиков, скамеек; стяжка; укладка керамогранитной и тротуарной плитки; консультация." />
    
}

<div>
    <article id="main" class="container special">
        <img class="image featured" src="~/images/@Model.TitleImagePath" />
        <h2>
            @Model.Title
        </h2>
    </article>
</div>